{{define "_head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/statics/css/main.css">
<link rel="stylesheet" href="/statics/css/tailwind.css">
<title>
{{.}}
</title>
<meta name="description" content="مرجع داستان های سکسی تصویری - کمیک سکسی - عکس های لو رفته - سکسی داستانی کمیک ترجمه شده اختصاصی - داستان های سکسی ترجمه شده">
{{end}}