<html lang="fa">
  <head>
    {{template "_head" .Title}}
  </head>

  <body class="bg-[#f7f8fa] text-gray-400 antialiased font-regular max-w-2xl mx-auto" style="overflow-x:clip;float:right;min-width:100%;direction:rtl" data-new-gr-c-s-check-loaded="8.899.0" data-gr-ext-installed="" cz-shortcut-listen="true">

    <div class="header w-full h-14 flex flex-row px-4 justify-center items-center">
      <h1 class="font-bold text-xl text-gray-900">سرراست
      </h1>
      <div class="text-xs text-gray-500 mr-4 ">در حال بروزرسانی
      </div>
    </div>

    <div class="max-w-2xl mx-auto"> 
      {{template "_comic_banner" .Comic}}

      
      <div class="flex justify-center mt-8 relative z-0 max-w-screen">
        <ins id="945613" data-width="300" data-height="112" class="max-w-screen">
        </ins>
      </div>
      <div class="mt-8">
        <div>
          <div class="px-4 my-4">
            <ul class="flex sm:overflow-visible sm:flex-wrap overflow-x-auto pointer-events-auto justify-left hidden-scrollbar space-x-2.5">
              <button class="active:scale-90 py-1.5 px-4 rounded-lg border text-xs  h-6 text-white bg-blue-600">فارسی
              </button>
            </ul>
          </div>
          <div class="px-4">
            <!--
            <div class="w-full h-14 bg-white border rounded-2xl mb-2 flex items-center p-2 text-gray-500 flex justify-center">قسمت 59
             در تاریخ 
            دوشنبه ۲۷ ژوئن ساعت ۲۲:۰۰
             منتشر میشود
            </div>
            -->
              {{template "_episode_index" .EpisodeIndexData}}
          </div>
        </div>
      </div> 
    </div>
    <div class="mt-16">
    </div>
    
       {{template "_footer" .IsLogged}}

  </body>
</html>
